.cars.index
  padding-top: 60px

  @media (max-width: 979px)
    body
      padding-top: 0px

  .table-blasted > tbody > tr:nth-of-type(4n-3)
    background-color: #f9f9f9

  .hidden-row
    padding: 0 !important
